@media screen and (max-width: 1355px) {
    .container {
        padding: 0 10px;
    }
}
@media screen and (max-width: 1255px) {
    .header__img {
        max-width: 460px;
        max-height: 460px;
    }
    .about__img {
        max-width: 336px;
        max-height: 336px;
    }
    .price__item:first-child {
        max-width: 355px;
    }
    .item-price:last-child .item-price__img {
        margin-left: 10px;
    }
}