@media screen and (max-width: 1355px) {
    .container {
        padding: 0 10px;
    }
}
@media screen and (max-width: 1255px) {
    .header__img {
        max-width: 460px;
        max-height: 460px;
    }
    .about__img {
        max-width: 336px;
        max-height: 336px;
    }
    .price__item:first-child {
        max-width: 355px;
    }
    .item-price:last-child .item-price__img {
        margin-left: 10px;
    }
}
@media screen and (max-width: 992px) {
    .title {
        font-size: 36px;
    }
    .container {
        max-width: 933px;
        padding: 0;
    }
    .header {
        padding: 30px 0 16px;
    }
    .britlex-logo {
        width: 86px;
    }
    .header__link {
        font-size: 16px;
        margin-right: 20px;
    }
    .header__button {
        font-size: 18px;
        padding: 12px 40px;
        width: 160px;
        height: 50px;
    }
    .item-header__img {
        width: 80px;
        height: 80px;
        top: 90px;
        left: 302px;
    }
    .item-header__title {
        font-size: 48px;
        margin-bottom: 27px;
        line-height: 64px;
    }
    .item-header__text {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 33px;
    }
    .item-header__button {
        width: 292px;
        height: 80px;
        padding: 22px 78px;
        font-size: 24px;
        border-radius: 5px;
    }
    .skills {
        padding-bottom: 20px;
    }
    .skills__title {
        margin-bottom: 66px;
    }
    .skils__grid {
        grid-template-rows: 441px 241px;
        gap: 13px;
    }
    .item-skills__title {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .item-skills__text {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 20px;
    }
    .item-skills__button {
        padding: 15px 51px;
        width: 196px;
        height: 57px;
        font-size: 18px;
    }
    .item-skills-speaking {
        padding: 282px 28px 52px;
    }
    .item-skills-speaking .item-skills__img {
        max-width: 260px;
        min-height: 260px;
        top: 0px;
        right: 25px;
    }
    .item-skills-speaking .item-skills__title {
        margin-bottom: 13px;
    }
    .item-skills-speaking .item-skills__text {
        margin-bottom: 47px;
    }
    .item-skills-writing, .item-skills-reading {
        padding: 204px 27px 30px;
    }
    .item-skills-writing .item-skills__img {
        max-width: 205px;
        max-height: 205px;
        top: 4px;
        right: 7px;
    }
    .item-skills-reading .item-skills__img {
        max-width: 243px;
        max-height: 162px;
        top: 15px;
        left: 5px;
    }
    .item-skills-listening {
        padding: 26px 294px 34px 35px;
    }
    .item-skills-listening .item-skills__img {
        max-width: 294px;
        max-height: 169px;
        top: 33px;
        right: 17px;
    }
    .about {
        padding: 56px 0 50px;
    }
    .about__img {
        max-height: 336px;
        max-width: 336px;
        margin-top: 22px;
    }
    .about__title {
        margin-bottom: 14px;
    }
    .about__text {
        max-width: 525px;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 25px;
    }
    .about__item:first-child {
        padding-left: 8px;
        margin-right: 62px;
    }
    .about__item:nth-child(2){
        margin-right: 48px;
    }
    .about__quantity {
        font-size: 30px;
        line-height: 55px;
    }
    .about__staff {
        font-size: 16px;
    }
    .price {
        padding: 75px 0;
    }
    .price__title {
        margin-bottom: 9px;
    }
    .item-price {
        position: relative;
        padding-bottom: 20px;
    }
    .item-price__title {
        margin-bottom: 7px;
        margin-left: 18px;
        font-size: 22px;
        line-height: 34px;
    }
    .item-price__text {
        margin-left: 18px;
        font-size: 16px;
        line-height: 24px;
    }
    .item-price:first-child > * {
        margin-left: 0;
    }
    .item-price:first-child {
        max-width: 293px;
        margin-right: 27px;
    }
    .item-price:nth-child(2) {
        margin-right: 61px;
    }
    .item-price:nth-child(2), .item-price:last-child {
        max-width: 277px;
    }
    .item-price:first-child .item-price__img {
        max-width: 222px;
        max-height: 222px;
        margin: 12px 0 21px 16px;   
    }
    .item-price:nth-child(2) .item-price__img {
        max-width: 267px;
        max-height: 195px;
        margin: 9px 0 25px;
    }
    .item-price:last-child .item-price__img {
        max-width: 242px;
        max-height: 242px;
        margin: 0;
        margin-bottom: 13px;
    }
    .price__tag {
        margin-left: 18px;
        position: absolute;
        bottom: 0;
        width: 205px;
    }
    .price-tag__item {
        font-weight: 400;
        font-size: 16px;
        line-height: 45px;
    }
    .price-tag__quantity {
        font-size: 24px;
        line-height: 45px;
    }
    .contact {
        padding: 31px 0 158px;
    }
    .contact__img {
        margin-left: -15px;
        margin-top: 35px;
        max-width: 312px;
        max-height: 281px;
    }
    .contact__item {
        padding-top: 32px;
        max-width: 535px;
    }
    .contact__title {
        margin-bottom: 2px;
        margin-left: 13px;
    }
    .contact__text {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 33px;
        max-width: 450px;
    }
    .form-contact__input {
        width: 323px;
        height: 60px;
        font-size: 14px;
        line-height: 21px;
        margin-right: 12px;
    }
    .form-contact__button {
        padding: 15px 56px;
        width: 193px;
        height: 60px;
        font-size: 16px;
        line-height: 24px;
    }
    .footer {
        padding-top: 21px;
    }
    .footer__list li a {
        font-weight: 400;
        font-size: 16px;
    }   
}